[submodule "src/cobra_tools"]
	path = src/cobra_tools
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/cobra_tools
	branch = master
[submodule "src/pointcloud_image_converter"]
	path = src/pointcloud_image_converter
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/pointcloud_image_converter
[submodule "src/cobra_planner"]
	path = src/cobra_planner
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/cobra_planner
[submodule "src/r3live"]
	path = src/r3live
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/code/r3live
[submodule "src/glimpse_nvblox_ros1"]
	path = src/glimpse_nvblox_ros1
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/glimpse_nvblox_ros1
[submodule "src/hkustgz_segnet"]
	path = src/hkustgz_segnet
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/hkustgz_segnet
[submodule "src/rviz_plugins"]
	path = src/rviz_plugins
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/rviz_plugins.git
[submodule "src/rviz_plugin_tutorials"]
	path = src/rviz_plugin_tutorials
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/rviz_plugin_tutorials.git
