[submodule "src/pointcloud_image_converter"]
	path = src/pointcloud_image_converter
	url = git@github.com:gogojjh/pointcloud_image_converter.git
[submodule "src/r3live"]
	path = src/r3live
	url = git@github.com:hku-mars/r3live.git
[submodule "src/glimpse_nvblox_ros1"]
	path = src/glimpse_nvblox_ros1
	url = git@github.com:gogojjh/glimpse_nvblox_ros1.git
[submodule "src/hkustgz_segnet"]
	path = src/hkustgz_segnet
	url = git@github.com:gogojjh/hkustgz_segnet.git