[submodule "src/cobra_tools"]
	path = src/cobra_tools
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/cobra_tools
	branch = master
[submodule "src/pointcloud_image_converter"]
	path = src/pointcloud_image_converter
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/pointcloud_image_converter
[submodule "src/cobra_planner"]
	path = src/cobra_planner
	url = http://gitlab.ram-lab.com/ramlab_dataset_sensor/mapping_codebase/cobra_planner
