<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Drivable point cloud -->
  <arg name="path_to_drivable_pcd" 
  default="/Spy/dataset/cobra_results/cobra_mapping_results/tase_experiment_record/nvblox_proposed/navigation/20230403_hkustgz_vegetation_sequence01_wo_semantics/map_drivable_raw.pcd" doc="Path to the drivable pcd"/>

  <node pkg="cobra_tools" type="publish_dri_to_occupancygrid.py" name="publish_dri_to_occupancygrid" output="screen"
    args="--path_to_drivable_map $(arg path_to_drivable_pcd)" >
  </node>

  <!-- Description: global planner -->
  <include file="$(find hybrid_astar)/launch/manual_hercules.launch" />
  <!-- <include file="$(find hybrid_astar)/launch/dynamic_hercules.launch" /> -->

  <node pkg="cobra_tools" name="subscribe_path_publish_route" type="subscribe_path_publish_route.py" output="screen" >
    <remap from="/global_planner/nodes" to="/sPathNodes" />
  </node>
 
  <!-- Rviz -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find cobra_tools)/../../../rviz_cfg/cobra_hybridastar.rviz" /> -->

  <!-- TF -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="static_tf_sensor_baselink" args="-1.37 0 0 0 0 0 current_lidar globalplanner_base_link 10" /> -->

</launch>
